<div class="container">
	<h1>auctions template</h1>
</div>

<div data-ng-include data-src="'templates/header.html'"></div>

<div class="container-fluid  col-md-8">
	<table class="table table-striped table-hover">
		<thead>
			<tr class="row">
				<td>#</td>
				<td>By</td>
				<td>Category</td>
				<td>Product</td>
				<td>Start Date</td>
				<td>End Date</td>
				<td>Buy Price</td>
				<td>First Bid</td>
				<td>Current bid</td>
			</tr>
		</thead>
		<tbody>
			<tr class="row" ng-repeat="auction in auctions | orderBy:'-endDate'">
				<td><a href="#" class="btn">{{$index + 1}}</a></td>
				<td><a href="#" class="btn">{{auction.ownerName}}</a></td>
				<td><a href="#" class="btn">{{auction.categories}}</a></td>
				<td><a href="#" class="btn">{{auction.productName}}</a></td>
				<td><a href="#" class="btn">{{auction.startTime | date:'shortDate'}}</a></td>
				<td><a href="#" class="btn">{{auction.endTime | date:'shortDate'}}</a></td>
				<td><a href="#" class="btn">{{auction.buyPrice}}</a></td>
				<td><a href="#" class="btn">{{auction.firstBid}}</a></td>
				<td><a href="#" class="btn">{{auction.currentBid}}</a></td>
				<td><button ng-click="openAuction(auction)">open</button></td>
				
			</tr>
		</tbody>
	</table>
</div>
