
<div data-ng-include data-src="'templates/header.html'"></div>

<div class="container-fluid  col-md-5">
	<table class="table table-striped table-hover">
		<thead>
			<tr class="row">
				<td>#</td>
				<td>Name</td>
				<td>Message</td>
				<td>Date</td>
			</tr>
		<thead>
		<tbody>
			<tr class="row" ng-repeat="message in messages | orderBy:'-date'">
				<td>{{$index + 1}}</td>
				<td>{{message.senderName}}</a></td>
				<td>{{message.messageText}}</a></td>
				<td>{{message.time | date:'shortDate'}}</td>
				<td><button ng-click="reply(message)">reply</button></td>
			</tr>
		</tbody>
	</table>
</div>