<div class="container">
	<h1>new Auction template</h1>
</div>

<div data-ng-include data-src="'templates/header.html'"></div>


<div class="container">
		<form class="form-new-auction" ng-submit="newAuction()" ng-controller="newAuctionCtrl">
			<h2 class="form-new-auction-heading">Please enter new auction</h2>
			<label for="product-name" class="sr-only">product-name</label>
				<input ng-model="productName" type="text" id="product-name" class="form-control" placeholder="Product name" required autofocus>
			<label for="category" class="sr-only">category</label>
				<input ng-model="categories" type="text" id="category" class="form-control" placeholder="Categories (separate with comma)" required autofocus>
			<label for="buy-price" class="sr-only">buy-price</label>
				<input ng-model="buyPrice" type="text" id="buy-price" class="form-control" placeholder="Buy-price" required autofocus>
			<label for="first-bid" class="sr-only">first-bid</label>
				<input ng-model="firstBid" type="text" id="first-bid" class="form-control" placeholder="First bid" required autofocus>
			<label for="start-time" class="sr-only">start-time</label>
				<input ng-model="startTime" type="text" id="start-time" class="form-control" placeholder="Start time (date format: dd-MM-yyyy hh:mm:ss)" required autofocus>
			<label for="end-time" class="sr-only">end-time</label>
				<input ng-model="endTime" type="text" id="end-time" class="form-control" placeholder="End time (date format: dd-MM-yyyy hh:mm:ss)" required autofocus>
			<label for="description" class="sr-only">description</label>
				<textarea ng-model="description" id="description" class="form-control" placeholder="Description" rows="3" required autofocus></textarea>
			<div class="container col-md-1">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Place auction</button>
			</div>
		</form>

	</div>
	<!-- /container -->