<div class="container">
	<h1>new Bid</h1>
</div>

<div data-ng-include data-src="'templates/header.html'"></div>

<div class="container">
	<form class="form-new-message" ng-submit="newBid()" ng-controller="newBidCtrl">
	<h2 class="form-new-bid-heading">Please enter your bid</h2>
		<label for="bid" class="sr-only">bid</label>
			<input ng-model="ammount" type="text" id="ammount" class="form-control" placeholder="Ammount" required autofocus>
		<div class="container col-md-1">
			<button type="button" ng-really-message="Are you sure?" ng-really-click="newBid()"  class="btn btn-lg btn-primary btn-block">Submit</button>
		</div>
	</form>

</div>
<!-- /container -->